# Gradle
.gradle/
build/
**/build/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# Logs
*.log

# OS-specific junk
.DS_Store
Thumbs.db

# Gradle local settings
gradle-app.setting
!gradle/wrapper/gradle-wrapper.jar
