# Spring Boot build
target/
*.class
*.jar
*.war

# Spring Boot configs (optional: ignore if secrets)
application-*.yml
application-*.properties

# IDEs
*.iml
.idea/
*.iws
*.ipr
.project
.classpath
.settings/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log
